<div style="background:#753c90; padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div>
                    <img class="scale-with-grid lazy-loaded"
                        src="https://www.iudu.com.ar/wp-content/uploads/2020/10/isologo_iudu_blanco.svg"
                        alt="isologo_iudu_blanco" title="" width="60"
                        data-src="https://www.iudu.com.ar/wp-content/uploads/2020/10/isologo_iudu_blanco.svg">
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div>
                    <ul style="text-align: left;">
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="https://iudupago.com.ar/" target="_blank" rel="noopener">IUDÚ Pago</a></li>
                        <li><a href="https://iudu.hiringroom.com/jobs" target="_blank" rel="noopener">Trabajá en
                                IUDÚ</a></li>
                    </ul>
                </div>
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-6 col-sm-3">
                <div>
                    <ul style="text-align: left;">
                        <li><a href="https://iudu.com.ar/wp-content/uploads/IUDU-0521-Transparencias.pdf">Tasas, Cargos
                                y Comisiones</a></li>
                        <li><a href="/tos">Términos y Condiciones</a></li>
                        <li><a href="/politica-privacidad">Política de Privacidad</a></li>
                        <li><a href="/info-usuario-financiero">Información al usuario financiero</a></li>
                        <li><a href="/legales">Legales</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div style="display: grid;">
                    <a href="http://www.bcra.gob.ar/BCRAyVos/Usuarios_Financieros.asp" style="display: inline-block;">
                        <img class="scale-with-grid lazy-loaded"
                            src="https://www.iudu.com.ar/wp-content/uploads/2020/09/usuarios-financieros.svg"
                            alt="usuarios-financieros" title=""
                            data-src="https://www.iudu.com.ar/wp-content/uploads/2020/09/usuarios-financieros.svg">
                    </a>
                    <a href="https://www.argentina.gob.ar/aaip/datospersonales/reclama/30701810852--RL-2019-112998086-APN-DNPDP#AAIP"
                        style="margin-top: 10px;">
                        <img src="https://www.argentina.gob.ar/sites/default/files/aaip-isologo.png" alt="AAIP RNBD"
                            style="height:90px;border:0;border-radius:10px;" class=" lazy-loaded"
                            data-src="https://www.argentina.gob.ar/sites/default/files/aaip-isologo.png"><noscript><img
                                src="https://www.argentina.gob.ar/sites/default/files/aaip-isologo.png" alt="AAIP RNBD"
                                style="height:90px;border:0;border-radius:10px;"></noscript></a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 25px !important;">
    <div class="container">
        <div class="row row-no-gutters">
            <div class="col-xs-12 col-md-8"><p style="color:white;">IUDÚ © 2020. Todos los derechos reservados.</p></div>
            <div class="col-xs-6 col-md-4">
                <div class="social">
                    <strong style="margin-right: 10px;"><p style="color:white;">Unite a nuestra comunidad</p></strong>
            </div>
        </div>
    </div>


</div>
</div>