.title-style {
    color: #9152A0;
    font-family: "sailec", Sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}
.sub-title-style {
    color: #C61C94;
    font-family: "sailec", Sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3em;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}
.container {
     max-width: 500px;
}