<div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
    <small>Cartera Consumo. Oferta válida del XXX al XXX en la República Argentina. La denominada “Tarjeta IUDÚ” es emitida
        por Cordial Compañía Financiera S.A., CUIT 30-70181085-2 domicilio Reconquista 320, Piso 1ro.,<br> CABA. (“Cordial”)
        y su otorgamiento se encuentra exclusivamente sujeto a condiciones de contratación y calificación crediticia de
        Cordial.</small>
    <p style="margin-top: 20px;">CARTERA CONSUMO. CORDIAL COMPAÑÍA FINANCIERA S.A. RECONQUISTA 320, PISO 1RO., C.A.B.A., C.U.I.T. Nº 30_70181085_2.
        (“CORDIAL”) INSCRIP. I.G.J. N° 1323, L°. 4, SOCIEDADES POR <br>
        ACCIONES. PROMOCIONES NO ACUMULABLES NI COMBINABLES CON OTRAS VIGENTES. VÁLIDO PARA COMPRAS ABONADAS CON TARJETAS DE
        CRÉDITO MASTERCARD IUDÚ (LA “TARJETA
        <br> DE CRÉDITO”) EMITIDAS POR CORDIAL COMPAÑÍA FINANCIERA S.A. EJ.: (I) SI REALIZA UN VIAJE POR $1.000 SE LE
        REINTEGRARÁ $500 DEL PRECIO FINAL DEL VIAJE. EL REINTEGRO DE $500 SE <br>
        REFLEJARÁ EN EL 1ER. O 2DO. RESUMEN. VÁLIDO PARA VIAJES ABONADAS CON TARJETAS DE CRÉDITO MASTERCARD IUDÚ EMITIDAS
        POR CORDIAL (LAS “TARJETAS DE CRÉDITO”). VIGENTE <br>
        DESDE EL . (1) VÁLIDO PARA VIAJES EN 1 PAGO A TRAVÉS DE LA APP BEAT. TOPE DE REINTEGRO POR CUENTA Y POR TRANSACCIÓN:
        $500. TOPE DE TRANSACCIONES POR MES: 1 (UNA). (2) <br>
        VÁLIDO PARA VIAJES REALIZADOS EN APP BEAT EN LA REPÚBLICA ARGENTINA EN UN PAGO. TOPE DE REINTEGRO POR CUENTA Y POR
        TRANSACCIÓN $500. TOPE DE TRANSACCIONES <br>
        MENSUALES: 1. * ESTAS OFERTAS NO SERÁN VÁLIDAS LUEGO DE HABER ABONADO UN PRIMER VIAJE CON LA TARJETA IUDÚ. 1 CUOTA
        SIN INTERÉS: TASA NOMINAL ANUAL (TNA) 0%, TASA <br> EFECTIVA ANUAL (TEA) 0%. COSTO FINANCIERO TOTAL EFECTIVO ANUAL
        (CFTEA) 0%.
    </p>
</div>
