<div class="custom-header" >
    <app-header></app-header>
</div>
<div>
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8"><app-title></app-title></div>
    <div class="col-6 col-md-4"><app-form></app-form></div>
  </div>
</div>
<div>
  <app-description></app-description>
  <app-footer></app-footer>
  <app-purse></app-purse>
</div>