.label-style {
        /*color: #8FD1E1; */
        color:white;
        font-family: "sailec", Sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: 1.1em;
        text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
        text-align: center;
}
.lateral-image {
    margin: 0% -17% -39% 50%;
    padding: 0% 0% 68% 0%;
    background-image: url(https://iudu.com.ar/wp-content/uploads/Descargate-la-app-de-IUDU-Servicios-financieros.webp);
    background-position: 0% 230px;
    background-repeat: no-repeat;
    background-size: 45% auto;
    left: 43.597vw;
    width: 71vw;
    max-width: 71vw;
    bottom: 1.556vh;
    z-index: 1;
}