<div style="background-color: #9152A0; padding-top: 80px; margin-top: 50px; padding-bottom: 50px;">
<!--<div class="lateral-image"></div> -->
<p class="label-style">¿Cómo funciona?</p>
 <div style="text-align: center;">
    <div class="row row-no-gutters">
        <div class="col-xs-6">
            <div style="margin-top: 30px; margin-bottom: 30px;">
                <span style="background-color: white;
                height: 100px;
                width: 100px;
                display: inline-block;
                border-radius: 50%;">
                <img style="
                max-width: 60%;
                margin-top: 24px;" src="../../../assets/keyboard.svg"> 
                 </span> 
            </div>
            <h4 style="font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            letter-spacing: 0;
            color: white; margin-bottom: 15px;"><span>¡Completá el formulario!</span></h4>
            <p style="color:white; text-align: center; font-size: 14px; line-height: 27px; ">Ingresá tu DNI y el código que recibiste la app socia o un <br> amig@/familiar que ya tenga cuenta en IUDÚ.<br>
                Nosotros vamos a validar que no tengas una cuenta y que el <br>código esté vigente.</p>
        </div>
        <div class="col-xs-6"><div style="margin-top: 30px; margin-bottom: 30px;">
            <span style="background-color: white;
            height: 100px;
            width: 100px;
            display: inline-block;
            border-radius: 50%;">
                <img style="
                max-width: 35%;
                margin-top: 22px;" src="../../../assets/mobile.svg">
            </span>
        </div>
        <h4 style="font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 0;
        color: white; margin-bottom: 15px;"><span>¡Descargate la app de IUDÚ!</span></h4>
        <p style="color:white; text-align: center; font-size: 14px; line-height: 27px; ">Creá tu cuenta desde un celular Android o ios y hacete cliente. <br>Vas poder solicitar tu tarjeta IUDÚ Mastercard.<br>
            Nosotros vamos a validar tus datos para que puedas disfrutar todos los <br>beneficios.</p></div>
      </div>
 </div>
</div>
  
