<div style="float: left;
margin-left: 15px;
margin-top: 10px;
margin-bottom: 10px;">
  <a id="logo" href="https://iudu.com.ar" title="IUDÚ" data-height="60" data-padding="15">
    <img class="logo-main scale-with-grid svg" src="//www.iudu.com.ar/wp-content/uploads/2020/11/iudu_logo.svg" data-retina="" data-height="" alt="IUDÚ Compañía Financiera" data-no-retina="" width="180">
  </a>
</div>