<form (ngSubmit)="onSubmit()">

    <div style="display: grid;">
      <label for="name">
        Ingresá tu DNI *
      </label>
      <input id="name" type="number" formControlName="name" maxlength="8" style="max-width: 200px;">
     <!-- <label for="name">
        Indícanos tu DNI para poder validar si ya tenés una cuenta en IUDÚ.
      </label> -->
    </div>
  
    <div style="display: grid; margin-top: 20px;">
      <label for="address">
        Ingresá el código *
      </label>
      <input id="address" type="text" formControlName="address" style="max-width: 200px;">
     <!-- <label for="name">
        Indícanos el código que recibiste de algún partner o de un amig@/familia.
      </label> -->
    </div>
  
    <button class="button" type="submit">Validar</button>
  
  </form>